.fight-arena-intro {
  margin-top: 25px;
}

.fighter-avatar {
  margin: 5% 0px;
}

#fight-arena-button {
  background-color: #d24b2e;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 7px;
  padding: 5px;
  
  margin-bottom: 5px;
  border-color: black;
  color: white;
}

#fight-arena-button:hover {
  cursor: pointer;
  font-size: 22px;
}

.arena-info {
  font-size: 22px;
  background-color: #d24b2e;
  color: white;
  margin-top: 5%;
}