.fight-arena-intro {
  margin-top: 25px;
}

.fighter-avatar {
  margin: 25px 0px;
}

#fight-arena-button {
  background-color: #d24b2e;
  font-size: 20px;
  
  margin-bottom: 5px;
  border-color: black;
  color: white;
}

#fight-arena-button:hover {
  cursor: pointer;
  font-weight: bold;
}