<h2>Règles du jeu</h2>
<div class="content">
  <p><span>Fight arena est un mini jeu où il est possible de créer un combattant</span>
     <span>pour le faire s’affronter avec d’autres joueurs inscrits sur le site.</span>
     <br>
     <span>Il est donc impératif de créer un compte pour pouvoir jouer</span> 
     <span>chaque joueur ne peut avoir qu’un seul combattant.</span>
    <br>
    <span>Tel un gladiateur jeté dans l’arène on ne choisit pas son adversaire. A chaque</span>
    <span>combat, on affronte un combattant aléatoire.</span>
    <span>On peut aussi se faire attaquer par d’autres joueurs même si l’on est absent.</span>
    <br>
    <span>Tout l’historique des combats de notre personnage peut être retrouvé (victoires,</span>
    <span>défaites, opposants, résumé du combat).</span>
    <span>Il y a aussi une page palmarès où tous les combattants apparaissent triés par</span> 
    <span>nombre de victoires.</span>
  </p>
</div>