/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Black Ops One', Arial, Helvetica, sans-serif;
}
html {
  height: 100%;
  background-image: image-url('264711.jpg');
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
body {
  text-align: center;
  height: 100%;
}

.wrapper {
  height: 100%;
  position: relative;
}

h1 {
  margin-bottom: 30px;
  background-color: white;
  max-width: max-content;
  padding: 5px 15px;
  margin: auto;
  border-radius: 7px;
}

h2 {
  background-color: #d24b2e;
  color: white;
  margin-bottom: 30px;
}

a {
  text-decoration: none;
  color: black;
}


.content {
  background-color: white;
  max-width: max-content;
  min-width: 400px;
  margin: auto;
  padding: 30px;
  border-radius: 7px;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

th {
  background-color: black;
  color: white;
}

td {
  padding: 5px 10px;
}

p span {
  display: block;
}