<div class="navbar">
  <div class="navbar-left">
    <%= link_to 'Arène', root_path %>
    <%= link_to 'Combattants', fighters_path %>
    <%= link_to 'Historique des combats', fights_history_path %>
  </div>
  <div class="navbar-right">
  </div>
</div>